<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<html>
  <head>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
  </head>
<body id="LoginForm">
<div class="container">

<div class="login-form">
<div class="main-div">
    <div class="panel">
   <h2>User Login</h2>
   <p>Please enter your Username and password</p>
   </div>
   <form [formGroup]="adminlog" (ngSubmit)="validate()">

        <div class="form-group">
            
            <input type="text" class="form-control" placeholder="Enter username" formControlName="username">
        </div>

        <div class="form-group">
            
            <input type="password" class="form-control" placeholder="Enter password" formControlName="password">
        </div>
     
        <button type="submit" class="btn btn-primary">login</button>

        <a href='register'>New User</a>

    </form>
    </div>

</div></div>


</body>
</html>
<!--
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
            <div class="col-md-6">
<form [formGroup]="adminlog" (ngSubmit)="validate()">

    <div class="form-group">
        <label >username</label>
        <input type="text" class="form-control" placeholder="Enter username" formControlName="username">
    </div>

    <div class="form-group">
        <label >password</label>
        <input type="password" class="form-control" placeholder="Enter password" formControlName="password">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</div>
</div>
-->