
    <div align="right">
        <div class="col bg-light text-right">
            
            <a class="btn btn-danger" href="addproduct" role="button">Add Product</a>
            
            <a class="btn btn-primary" href="userdetails" role="button">All Users</a>

            <a class="btn btn-info" href="orderdetails" role="button">All Orders</a>

            <a class="btn btn-danger" href="adminlogin" role="button">logout</a>
        </div>
    </div>


<app-product-list></app-product-list>




